
.DS_Store
RPS/RPS.xcodeproj/project.xcworkspace/xcuserdata/cosminroger.xcuserdatad/UserInterfaceState.xcuserstate
RPS/RPS.xcodeproj/xcuserdata/cosminroger.xcuserdatad/xcschemes/xcschememanagement.plist
RPS/RPS.xcodeproj/project.pbxproj
Memoar/Memoar.xcodeproj/project.xcworkspace/xcuserdata/mark.xcuserdatad/UserInterfaceState.xcuserstate
